<h1>Editing Delivery Employee</h1>



<%= render 'form' %>

<%= link_to 'Show', @delivery_employee %> 
<%= link_to 'View All', delivery_employees_path %>
<%= link_to 'Back', delivery_employees_path %>
