<h1> Search your pick! </h1>
	<body>

		<div id = "search">
			<%= render 'search' %>
		</div>	
				
			<br />	
		<div id = "search">
			<%= render 'search2' %>
		</div>	
			<br />
		<div id = "search">
			<%= render 'search4' %>
		</div>	
			<br />
		<div id = "search">
			<%= render 'search3' %>
		</div>	
	</body>	