<h1>About us! </h1>
Pizzeria was founded in 1997 by an Italian family! 
<p> we put our time and energy into pizza's that you can enjoy! </p>
<br />
<p> Not sure where to find us? </p>

<b>Address: </b> 
<p> Pizzeria!</p>
<p> Upper Dominick street </p>
<p> Dublin 8 </p>
<div id = "location">
	<p> <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{53.3549088}%2C#{-6.2705288}"%> </p>
</div>