<!DOCTYPE html>
<html>
<head>
	<meta content = "text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
	<body>
		<h1> Welcome to Pizzeria! </h1>
		<p> You have successfully signed up to pizzeria! </p>
		<p> Thank you for joining! We hope you will enjoy our pizzas! Why not leave us a review?
		</p>
		
	</body>
</html>	