<h4> Enter the discount rate here </h4>
<%= form_tag(apply_discount3_path, :method => 'get') do %>
	<%= label_tag "Discount Percentage" %>
	<%= text_field_tag "discount" %>
	</br>
	<%= submit_tag "Submit" %>
<% end %>	