// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
.opening {
	border: 2px solid #ffbf80;
    border-radius: 5px;	
	background-color: #DEB887;
	text-align: center;
		
		}
	
h3.opening {
	font-weight: bold;


}		